<!DOCTYPE html>
<html>
    <head>
        <title>Correct!</title>
        <style>
            html {
                color: darkgreen;
                text-align: center;
                font-size: 300%;
            }
            a {
                color: darkgreen;
            }
        </style>
    </head>
    <body>
        <h1>CORRECT!!!</h1>
        <a href="https://bekhruz-train-your-math.herokuapp.com/index.html"><h2>One more</h2></a>
        <a href="quit.html"><h2>Quit</h2></a>
    </body>
</html>
