<!DOCTYPE html>
<html>
    <head>
        <title>Train your math</title>
        <style>
            h1 {
                text-align: center;
                font-size: 700%;
            }
            a {
                color: black;
            }
            li {
                font-size: 500%;
                margin-left: 10%;
            }
        </style>
    </head>
    <body>
        <h1>Select what do you want to practice:</h1>
        <ul>
            <a href="index.html"><h1></h1><li>Addition</li></h1></a>
            <a href="subtraction.html"><h1></h1><li>Subtraction</li></h1></a>
            <a href="multiplication.html"><h1></h1><li>Multiplication</li></h1></a>
            <a href="division.html"><h1></h1><li>Division</li></h1></a>
        </ul>
    </body>
</html>
