<!DOCTYPE html>
<html>
    <head>
        <title>Incorrect!</title>
        <style>
            html {
                color: darkred;
                text-align: center;
                font-size: 300%;
            }
            a {
                color: darkred;
            }
        </style>
    </head>
    <body>
        <h1>INCORRECT!!!</h1>
        <a href="https://bekhruz-train-your-math.herokuapp.com/mincorrect.html"><h2>Give me another shot</h2></a>
        <a href="quit.html"><h2>Quit</h2></a>
    </body>
</html>